
    .clsDiv{
        min-height: 590px !important;
    }

    .dvSolNew{
        background-color: #263576;
    }

    .wrapper{
        overflow-y: hidden;
    }

    .clsFooter{
        max-height: 45px !important;
    }