
<div class="login-box">
  
    <div class="login-logo">
      <a href="/solicitudes">
        <img src="assets/Images/LogotipoGOV1.jpg" class="img-responsive" alt="User Image">
      </a>
    </div>
  
    <div class="login-box-body">
  
      <p class="login-box-msg">Cambia tu contraseña</p>
  
      <form [formGroup] = "resetPassForm" >
  
         
        <div class="form-group has-feedback" >
          
          <input id="inNewPass" type="password" class="form-control" placeholder="Nueva contraseña" formControlName="inNewPass" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span style="color:Red;" *ngIf="resetPassForm.controls['inNewPass'].touched && resetPassForm.controls['inNewPass'].errors?.required">Este campo es obligatorio.</span>
  
        </div>
          
        <div class="form-group has-feedback">
          
          <input id="inNewPassC" type="password" class="form-control" placeholder="Confirma la contraseña" formControlName="inNewPassC" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          
          <span style="color:Red;" *ngIf="resetPassForm.controls['inNewPassC'].touched && resetPassForm.controls['inNewPassC'].errors?.required">Este campo es obligatorio.</span>
          
          <span style="color:Red;" *ngIf="resetPassForm.controls['inNewPass'].value != resetPassForm.controls['inNewPassC'].value">Las contraseñas no coinciden.</span>
          <br>
          <span style="color:green;" id="resultMsg"></span>
        </div>
          
        <div class="row">
          
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <!--<div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me-->
              </label>
            </div>
          </div>
  
          <!-- /.col -->
          <div class="col-xs-4">
            <button id="btnLogin" class="btn btn-primary btn-block btn-flat" [disabled]="resetPassForm.invalid" (click)="onResetPass()" >Cambiar</button>
          </div>
          <!-- /.col -->
        
        </div>
        
      </form>
      <span style="color:Red;" *ngIf="noFoundUsu">Usuario no encontrado.</span>
  
    </div>
  
  </div>
  
  <ngx-spinner
      bdOpacity = 0.5
      bdColor="rgba(51,51,51,0.8)"
      size = "large"
      color = "#d4ad45"
      type = "timer"
      [fullScreen] = "true">
    <p style="color: rgb(212,173,69)" > <br> : : Cargando : : </p>
  </ngx-spinner>