<style>
    .btnSave{
        float: right;
        background-color: #2d71ba;
        height: 40px;
        width: 40px;
        margin: 0 0 0 5px;
    }
 
    .btnCancel{
        float: right;
        background-color: #ff0000;
        height: 40px;
        width: 40px;
        margin: 0 0 0 5px;
        color: antiquewhite;
    }
 
 
    .hCenter{
        text-align: center;
        background-color: #263576;
        color: #FFF;
    }
 
     .mat-form-field {
         width: 50% !important;
     }

     input {
        text-transform: uppercase;
    }
  
 
 </style>
 
 
     <!-- <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
     <app-asidenavbar class="clsAside"></app-asidenavbar> -->
       
     <div class="">
 
         <section class="content">
 
            <h1 class="hCenter">Alta de Nuevo Beneficiario</h1>

             <div id="dtNueva" class="col-md-12">
                       
               <form [formGroup] = "newBenForm" class="">
     
                 <div class="box-body pad">
 
                     <div class="row">     
     
                         <div class="col-6">
   
                           <div class="form-group">
                               <mat-form-field color="" class="slcFian">
                                   <mat-label>R.F.C. Beneficiario</mat-label>
                                   <input matInput type="text" id="rfcBenef" 
                                       placeholder="Ingrese el RFC" 
                                       #input name="rfcBenef"  formControlName="rfcBenef"
                                       pattern="^[a-zA-Z]{3,4}(\d{6})((\D|\d){2,3})?$"
                                        >
                               </mat-form-field>
                           </div>
       
                           <div class="form-group">
                               <mat-form-field color="" class="slcFian">
                                   <mat-label>Confirmar R.F.C.</mat-label>
                                   <input matInput type="text" id="rfcBenefConf" 
                                       placeholder="Confirme el RFC" 
                                       #input name="rfcBenefConf"  formControlName="rfcBenefConf"
                                       pattern="^[a-zA-Z]{3,4}(\d{6})((\D|\d){2,3})?$"
                                       (change)="changeRfcConf()"  >
                               </mat-form-field>
                           </div>
                           
                           <div class="form-group">
                               <mat-form-field color="" class="slcFian">
                                   <mat-label>Razón Social Beneficiario</mat-label>
                                   <input matInput type="text" id="nameBenef" 
                                       placeholder="Ingrese Razón Social Beneficiario" 
                                       #input name="nameBenef"  formControlName="nameBenef">
                               </mat-form-field>
                           </div>
                             
       
                           <div class="pull-right box-tools dvContrato">
                      
                                 <button  id="btnSaveFiado" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="newBenForm.invalid" (click)="onClick()" >
                                     <span class="spGuardar">OK</span>
                                   </button>
 
                                 <button  id="btnCancelFiado" mat-raised-button  class="btnCancel img-circle info-box-icon btnAcept" focusable="false" (click)="onNoClick()" >
                                 <span class="spGuardar">Cancelar</span>
                                 </button>
                            
                           </div>
   
                         </div>
                           
                     </div>
       
                 </div>   
     
               </form>  
     
             </div>  
     
         </section>
 
     </div>
 
 