<style>
   .btnSave{
        float: right;
        background-color: #2d71ba;
        height: 40px;
        width: 40px;
        margin: 0 0 0 5px;
    }

.btnCancel{
    float: right;
    background-color: #ff0000;
    height: 40px;
    width: 40px;
    margin: 0 0 0 5px;
    color: antiquewhite;
}


.hCenter{
    text-align: center;
    background-color: #263576;
    color: #FFF;
}

    .mat-form-field {
        width: 50% !important;
    }
 
    input {
        text-transform: uppercase;
    }

  

</style>


    <!-- <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
    <app-asidenavbar class="clsAside"></app-asidenavbar> -->
      
    <div class="">

        <section class="content">

            <h1 class="hCenter">Alta de Nuevo Fiado</h1>

            <div id="dtNueva" class="col-md-12">
              
              <form [formGroup] = "newFiadoForm" class="">
    
                <div class="box-body pad">

                    <div class="row">     
    
                        <div class="col-6">
  
                          <div class="form-group">
                              <mat-form-field color="" class="slcFian">
                                  <mat-label>R.F.C. Fiado</mat-label>
                                  <input matInput type="text" id="rfcFiado" 
                                      placeholder="Ingrese el RFC Fiado" 
                                      #input name="rfcFiado"  formControlName="rfcFiado"
                                      pattern="^[a-zA-Z]{3,4}(\d{6})((\D|\d){2,3})?$"
                                      (change)="changeRfc()" >
                              </mat-form-field>
                          </div>
      
                          <div class="form-group">
                              <mat-form-field color="" class="slcFian">
                                  <mat-label>Confirmar R.F.C.</mat-label>
                                  <input matInput type="text" id="rfcFiadoConf" 
                                      placeholder="Confirme el RFC Fiado" 
                                      #input name="rfcFiadoConf"  formControlName="rfcFiadoConf"
                                      pattern="^[a-zA-Z]{3,4}(\d{6})((\D|\d){2,3})?$"
                                      (change)="changeRfcConf()"  >
                              </mat-form-field>
                          </div>
                          
                          <div class="form-group">
                              <mat-form-field color="" class="slcFian">
                                  <mat-label>Razón Social Fiado/Proveedor</mat-label>
                                  <input matInput type="text" id="nameFiado" 
                                      placeholder="Ingrese Razón Social Fiado/Proveedor" 
                                      #input name="nameFiado"  formControlName="nameFiado">
                              </mat-form-field>
                          </div>
                            
      
                          <div class="pull-right box-tools dvContrato">
                     
                                <button  id="btnSaveFiado" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="newFiadoForm.invalid" (click)="onClick()" >
                                    <span class="spGuardar">OK</span>
                                  </button>

                                <button  id="btnCancelFiado" mat-raised-button  class="btnCancel img-circle info-box-icon btnAcept" focusable="false" (click)="onNoClick()" >
                                <span class="spGuardar">Cancelar</span>
                                </button>
                           
                          </div>
  
                        </div>
                          
                    </div>
      
                 
                    <!-- <div class="box-header">
                      
                    <div class="pull-right box-tools dvContrato">
                        
                      <button  id="btnContrato" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="altaNewFiado.invalid" (click)="onAltaSol()" >
                        <span class="spGuardar">Guardar</span>
                      </button>
                      
                    </div>
    
                    </div> 
    
                    <div class="box-body pad">  
            
    
                    </div>   -->
    
                </div>   
    
              </form>  
    
            </div>  
    
        </section>

    </div>

