<div class="dvSolNew">

  <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
  <app-asidenavbar class="clsAside"></app-asidenavbar>
    
  <div class="content-wrapper clsDiv">
  
    <section class="content">

        <div id="dtNueva" class="col-md-12" [@EnterLeave]="'flyIn'">
          
            <h1 class="hCenter" [@EnterLeave]="'flyIn'">Solicitud de Fianza</h1>
            <h4 class="hRight"> [{{dateNow}}] </h4>

          <form [formGroup] = "altSolForm" class="">

            <div class="box box-info">
             
              <div class="box-header">
                  
                <div class="pull-right box-tools dvContrato">
                    
                  <button  id="btnContrato" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="altSolForm.invalid" (click)="onAltaSol()" >
                    <span class="spGuardar">Guardar</span>
                  </button>
                  
                </div>

              </div>

              <div class="box-body pad">  

                <div class="row">          

                    <div class="col-6 col-md-4"></div>

                    <div class="col-6 col-md-4">
                        <div class="form-group">
                            <mat-form-field class="slcFian">
                                <mat-label>Afianzadora</mat-label>
                                <mat-select  id="afianzadoras" formControlName="slAfin" (selectionChange)="getAfianzadora($event)">
                                    <mat-option *ngFor="let afianz of solNew.lstAfianzadoras" [value]="afianz.CVE_AFIAN">
                                        {{afianz.NOM_AFIAN}}
                                      </mat-option>
                                  </mat-select>
                            </mat-form-field>
                          </div>
                    </div>

                    <div class="col-6 col-md-4"></div>

                </div>

                <div class="row">     

                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="slcFian">
                          <mat-label>Ramo</mat-label>
                          <mat-select id="ramos" (selectionChange)="getSubRamo($event)" formControlName="slRamo">
                              <mat-option *ngFor="let tipRamo of solNew.lstTipRamos" [value]="tipRamo.CVE_RAMO" >
                                {{tipRamo.DES_RAMO}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field color="" class="slcFian" >
                          <mat-label>Sub Ramo</mat-label>
                          <mat-select id="subramos" (selectionChange)="getTipFianza($event)" formControlName="slSubRamo">
                              <mat-option *ngFor="let subRamo of arrSubRamos" [value]="subRamo.CVE_SUBRAMO" >
                                {{subRamo.DES_SUBRAMO}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                      <mat-form-field color="" class="slcFian" >
                          <mat-label>Tipo Fianza</mat-label>
                          <mat-select id="tipoFia" (selectionChange)="showFilesFia($event)" formControlName="slTipFia">
                              <mat-option *ngFor="let tipSol of arrTipFia" [value]="tipSol.CVE_PAQUETE" >
                                {{tipSol.DES_PAQUETE}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field>
                    </div>
                      

                    <div class="form-group">
                      <mat-form-field color="" class="slcFian">
                          <mat-label>Nombre del Proyecto</mat-label>
                          <mat-select id="tipoMov" formControlName="slProyecSol" class="clsBenf">
                            <mat-option *ngFor="let tipProy of solNew.lstProyectos" [value]="tipProy.ID_PROY">
                                {{tipProy.DESC_PROY}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                    
                  <div class="col-md-6">                    
                    <div class="form-group">
                      <mat-form-field color="" class="slcFian" (click)="('tipoMov')">
                          <mat-label>Tipo de Movimiento</mat-label>
                          <mat-select id="tipoMov" formControlName="slTipMov">
                              <mat-option *ngFor="let tipMov of solNew.lstTipMovimiento" [value]="tipMov.CVE_TIPO_DOC">
                                  {{tipMov.DES_DOCUMENTO}}
                                </mat-option>
                            </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field color="" class="slcFian" >
                        <mat-label>Beneficiario</mat-label>
                        <mat-select id="beneficiario" formControlName="slBenf" class="clsBenf" >
                          <mat-option *ngFor="let benef of solNew.lstBeneficiarios" [value]="benef.CVE_BENEF">
                              {{benef.RAZON_SOCIAL_BENEF}}
                            </mat-option>
                            <mat-option  [value] = 0 (click)="openDialogBenef()">
                              OTRO
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                    
                    <div class="form-group">
                      <mat-form-field color="" class="slcFian">
                        <mat-label>Fiado</mat-label>
                        <mat-select id="rfc" formControlName="slFiad" >
                          <mat-option *ngFor="let fiad of solNew.lstFiados" [value]="fiad.ID_FIADO">
                              {{fiad.NOMBRE}}
                          </mat-option>                                  
                          <mat-option  [value] = 0 (click)="openDialogFiado()">
                            OTRO
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field color="" class="slcFian">
                        <mat-label>Solicitada Por</mat-label>
                        <input matInput type="text" id="observaciones" 
                          placeholder="Ingrese Nombre y Area solicitante de Acciona." 
                          #input name="observaciones"  formControlName="observaciones">
                      </mat-form-field>
                    </div>

                    <!-- <div *ngIf="divDatFiado">
                      <div class="form-group">
                        <mat-form-field color="" class="bitacora">
                            <mat-label>Nuevo R.F.C.</mat-label>
                            <input matInput type="text" id="inRfcFiado" placeholder="" #input class="form-control" name="inRfcFiado"  formControlName="inRfcFiado"
                            (change)="changeRfc()"pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$">
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <mat-form-field color="" class="bitacora">
                            <mat-label>Confirma R.F.C.</mat-label>
                            <input matInput type="text" id="inRfcFiadoConf" placeholder="" #input class="form-control" name="inRfcFiadoConf"  formControlName="inRfcFiadoConf"
                            (change)="changeRfcConf()"pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$">
                        </mat-form-field>
                      </div>

                      <div class="form-group" ng-show="false">
                        <mat-form-field color="" class="bitacora">
                            <mat-label>Razón social Fiado/Proveedor</mat-label>
                            <input matInput type="text" id="nombreFiado" placeholder="" #input class="form-control" name="nombreFiado"  formControlName="nombreFiado">
                        </mat-form-field>
                      </div>
                    </div> -->

                  </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">

                    <h2 class="h2Docs" #hDocs>Documentos Requeridos</h2>

                    <div class="row">
                      <div *ngFor="let fileFia of arrTipDocs"  [@EnterLeave]="'flyIn'">                            
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="info-box">
                            <span class="info-box-icon spDocs">
                            <i class="fa fa-file-text"></i></span>
                            <div class="info-box-content">
                              <button mat-button class="iconMat" (click)='onClick(fileFia.CVE_TIPO_DOC)'>
                                  <mat-icon class="iconMat">unarchive</mat-icon>
                              </button>
                              <a class="titDoc">{{fileFia.DES_DOCUMENTO}}</a>
                              <br/>
                              <ul>
                                <li>
                                    <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                    <span id="{{fileFia.idTipDoc}}" class="nameDoc"></span>
                                </li>
                              </ul>
                              <input type="file" id="{{fileFia.CVE_TIPO_DOC}}" name="{{fileFia.CVE_TIPO_DOC}}" 
                                accept="{{accept}}" style="display:none;" (change)="onChange($event, fileFia.CVE_TIPO_DOC)"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>  
                  
                  </div>
                </div>  

              </div>  

            </div>   

          </form>  

        </div>  

    </section>

  </div> 

  <app-footernavbar class="clsFooter"></app-footernavbar>
 
</div>
  
  
  <ngx-spinner
      bdOpacity = 0.5
      bdColor="rgba(51,51,51,0.8)"
      size = "large"
      color = "#d4ad45"
      type = "timer"
      [fullScreen] = "true">
    <p style="color: rgb(212,173,69)" > <br> : : Cargando : : </p>
  </ngx-spinner>
  