<div class="dvSolNew">

  <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
  <app-asidenavbar class="clsAside"></app-asidenavbar>
    
  <div class="content-wrapper clsDiv">
  
    <section class="content">

      <div id="dtNueva" class="col-md-12" [@EnterLeave]="'flyIn'">

        <h1 class="hCenter" [@EnterLeave]="'flyIn'">
          Reporte de Fianzas Próximas a Renovar o Cancelar
        </h1>
        <h4 class="hRight"> [{{dateNow}}] </h4>


        <form [formGroup] = "altSolForm" class="">
          <div class="box box-info">

            <div class="box-header">
              <div class="pull-right box-tools dvContrato">
                <button  id="btnContrato" mat-raised-button color="primary" 
                  class="btnSave img-circle info-box-icon btnAcept" focusable="false" 
                  [disabled]="altSolForm.invalid" (click)="ReporteRenovarCancelar()" >
                  <span class="spGuardar">Reporte</span>
                </button>
              </div>
            </div>
            <br><br><br>
            <div class="box-body pad">

              <div class="row">

                <div class="col-md-3">
                  <mat-form-field color="accent">
                      <input matInput placeholder="Fecha Inicio"    [satDatepicker]="contraPicker"    
                      class="form-control" name="fecha_inicio" formControlName="fecha_inicio">
                    <sat-datepicker #contraPicker></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="contraPicker"></sat-datepicker-toggle>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <input matInput placeholder="Fecha Fin"  [satDatepicker]="conCumpPicker" 
                          class="form-control" name="fecha_fin" formControlName="fecha_fin">
                        <sat-datepicker #conCumpPicker></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="conCumpPicker"></sat-datepicker-toggle>
                      </mat-form-field>  
                  </div>
                </div>

                <div class="col-md-3">
                  <mat-form-field color="" class="slcFian">
                    <mat-label>Periodicidad</mat-label>
                    <mat-select id="slRango" formControlName="slRango" >                                
                      <mat-option  [value] = "15"> 15 Días </mat-option>
                      <mat-option  [value] = "30"> 30 Días </mat-option>
                      <mat-option  [value] = "45"> 45 Días </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

            </div>

          </div>
        </form>

      </div>

    </section>

  </div> 

  <app-footernavbar class="clsFooter"></app-footernavbar>
 
</div>



<ngx-spinner
bdOpacity = 0.5
bdColor="rgba(51,51,51,0.8)"
size = "large"
color = "#d4ad45"
type = "timer"
[fullScreen] = "true">
<p style="color: rgb(212,173,69)" > <br> : : : : Procesand : : : : </p>
</ngx-spinner>