<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versión</b> 1.5.0
  </div>
  <strong>Powered By Grupo Ordás-Howden © 2019 
    <a href="https://www.ordashowden.mx/aviso-de-privacidad/">Aviso de privacidad</a>
  </strong> 
</footer>