
.cssImg{
    background-color: white;
    display: block;
    position: relative;
    margin: 15px 0px 0px 45px;
    border-radius: 3px;
    height: 55px;
}

.aUser, .aUser:active{
    color: #FFF !important;
    cursor: none;
}

.navbar-custom-menu {
    display: inline-block;
    top: -14px;
}

/*IPR*/
@media (max-width: 991px){
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 10px; 
    }

    .cssImg{
        display:block;
        margin:auto;
        margin-top: 10px;
    }

}

.dvMenu{
    display: inline-block;
    position: relative;
    height: 80px;
    z-index: 2;
}



.dvTitulo{
    display: block;
    position: relative;
    height: 80px;
    z-index: 1;
}

.text {
    position: relative;
    top: -6px;
    margin-left: -45%;
    /*right: 50px;*/
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
  }
  .text[data-text]:before {
    content: attr(data-text);
  }


  .titNavBar{
    position: relative;
    top: 30px;
    right: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    }

.aCloseSess{
    cursor: pointer;
}



@media (max-width: 767px){

    .navbar-custom-menu .navbar-nav > li.nombre-user{
        float: left !important;
    }

    .navbar-custom-menu{
        display: inline-block;
        position: relative !important;
        top: -35px;
    }

    .nav>li:nth-child(1){
        position: absolute !important;
        display: block !important;
        left: 122px;
        top: 40px;
    }

    .nav>li:nth-child(2){
        position: relative !important;
        display: block !important;
        top: 31px;
    }

    .nav>li:nth-child(3){
        top: 34px;
        left: 0px;
        position: relative;
    }

    .nav>li:nth-child(4){
        position: relative;
        top: 34px;
    }

    


    .text{
        font-size: 18px;
        right: 20px;
      }
  
      .titNavBar{
        top: -40px;
        font-size: 20px;
        right: 40px;
      }
}


.ul-menu {
    position: relative;
    display: block;
    height: 70px;
    top: -85px;
    padding: 0 0 0 20%;
    z-index: 0;
    /* position: absolute; */
    /* top: 100%; */
    /* left: 0; */
    /* z-index: 1000; */
    /* display: none; */
    /* float: left; */
    /* min-width: 160px; */
    /* padding: 5px 0; */
    /* margin: 2px 0 0; */
    /* font-size: 14px; */
    /* text-align: left; */
    list-style: none;
    /* background-color: #fff; */
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: 4px; */
    /* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
}

// .dvTitulo{
//     position: relative;
//     display: block;
//     margin: 0 0 0 10%;
// }

.dvOpMenu{
    position: relative;
    display: inline-block;
    float: right;
    bottom: -50px;
}

// a.dropdown-toggle {
//     margin: 3% 4% 0% 3%;
// }

.liSubMenu{
    position: relative;
    display: block;
    top: -55px;
}

li.dropdown.notifications-menu {
    top: 40px;
}

.guiaRap{
    cursor: pointer !important;
}