<header class="main-header">

   

  <!-- Logo -->
  <a href="/solicitudes" class="logoHead logo" >
    <img alt="UserImage" class="cssImg img-responsive" src="assets/Images/beGrand/beGrand-Header.jpg" [@fadeInOut]>
  </a>

 

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navHead navbar navbar-static-top" [@fadeInOut]>

      <div class="dvMenu">
          <a id="push-menu" href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu"  
          role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
      </div>
   

      <div class="dvTitulo">

          <ul class="ul-menu">

              <li class="">
                <h3 class="text"></h3> 
              </li>
        
              <li class="user-body liSubMenu">
                  <div class="row">
  
                      <div class="col-xs-4 dvTitulo">
                          <h3 class="titNavBar">{{nameTopBar}}</h3>
                      </div>
  
                    <ul class="nav navbar-nav">
                      <li class="dropdown notifications-menu">
                         
                      </li>
  
                      <li class="dropdown notifications-menu">
                          <a href="#" class="dropdown-toggle aUser" data-toggle="dropdown">
                              <i class="material-icons">perm_identity</i>
                              <label id="nombre_usuario" class="clsUser"></label>
                            </a>
                      </li>
                    
                      <li class="dropdown notifications-menu">
                          <a (click)="manual()" class="dropdown-toggle guiaRap" data-toggle="dropdown">
                              <i class="fa fa-book"></i>
                              Guía Rápida
                            </a>
                      </li>
                      
                      <li class="dropdown notifications-menu">
                          <a (click)="clearSession()" class="dropdown-toggle aCloseSess" data-toggle="dropdown">
                              <i class="fa fa-sign-out"></i>
                              Cerrar Sesión
                          </a>
                      </li>
                    </ul>
 
                  
                  </div>
              </li>
  
          </ul>

      </div>

   
       
   
     

  </nav>

</header>