
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                
                <div class="card-body p-2 cssFilter">

                    <div class="searchbox">
                        <input id="inputSearch" matInput (keyup)="applyFilter($event.target.value)" type="" placeholder="Buscar . . . " class="cssSearch"/>
                        <button id="btnSearch" class="submit" (click)="showSuccess()">
                                <i class="material-icons icssSearch">search</i>
                        </button>
                        <div class="line"></div>
                    </div>
                    
                </div>
                
                <div class="card-tools"></div>

                <div class="pull-left box-tools btnExcel">
                  <button mat-raised-button class="btnReports btnRptUsr" color="" (click)="export()">Exporta a Excel</button> 
                </div>
                
                <!-- <div class="pull-left box-tools btnExcel">
                  <button class="btnReports btnRptUsr"  mat-raised-button color="" (click)="exportPDF()">Exporta a PDF</button>  
                </div> -->
            </div>
            <div class="card-body">

               
                <div class="example-container mat-elevation-z8">
 
                  <table mat-table [dataSource]="dataSourseSol"  class="mat-elevation-z8 table-responsive" matSort>
              
                    <!-- Numero de solicitud Column -->
                    <ng-container matColumnDef="NUM_SOL" > 
                        
                        <th mat-header-cell *matHeaderCellDef> No. Solicitud 
                        </th>
                        
                        <td mat-cell *matCellDef="let element"> {{element.NUM_SOL}} </td>
                    </ng-container>
                
                    <!-- Tipo Solicitud Column -->
                    <ng-container matColumnDef="DES_TIPO_SOL">
                        <th mat-header-cell *matHeaderCellDef> Tipo Fianza </th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-label">Tipo Fianza:</span> {{element.DESC_PAQUETE}} </td>
                    </ng-container>
                    
                    <!-- Numero Fianza Column -->
                    <ng-container matColumnDef="NUM_FIA">
                        <th mat-header-cell *matHeaderCellDef> Núm Fianza </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span class="mobile-label">Tipo Fianza:</span> {{element.NUM_FIA || ' '}} </td>
                    </ng-container>

                    <!-- Usuario Solicitud Column -->
                    <ng-container matColumnDef="OBSV_SOL">
                    <th mat-header-cell *matHeaderCellDef> Solicitada Por </th>
                    <td mat-cell *matCellDef="let element"> <span class="mobile-label"></span> {{element.OBSV_SOL | lowercase}} </td>
                    </ng-container>
 
                    <!-- Fiado Solicitud Column -->
                    <ng-container matColumnDef="FIADO_NOMBRE">
                        <th mat-header-cell *matHeaderCellDef> Fiado<br />[Proveedor] </th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-label">Fiado[Proveedor]</span> {{element.FIADO_NOMBRE}} </td>
                    </ng-container>
                      
                    <!-- Proyecto Solicitud Column -->
                    <ng-container matColumnDef="DES_PROY_SOL">
                        <th mat-header-cell *matHeaderCellDef>Proyecto</th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-label">Proyecto</span> {{element.DES_PROY_SOL}} </td>
                    </ng-container>

                    <!-- FechaSolicitud Column -->
                    <ng-container matColumnDef="FEC_SOLICITUD" >
                        <th mat-header-cell *matHeaderCellDef> Fecha <br />Solicitud </th>
                        <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Fecha <br />Solicitud</span>
                                <span class="tab-date1">{{element.FEC_SOLICITUD | date: 'MM/dd/yyyy'}} </span>
                                <span class="tab-date2">{{element.FEC_SOLICITUD | date: 'h:mm:ss a'}}</span>
                        </td>
                    </ng-container>
                
                    <!-- status Solicitud Column -->
                    <ng-container matColumnDef="DESC_STSOL" >
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">  <span class="mobile-label">Status:</span> {{element.DESC_STSOL}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actionsColumn" >
                        <th mat-header-cell *matHeaderCellDef>Detalle</th>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" [ngClass]="getStyleClass(row)" focusable="false" (click)="startEdit(row)">
                                    <i class="material-icons btnResp">radio_button_checked</i>
                            </button>
                        </mat-cell>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                  </table>

                  <div class="no-results" [style.display]="dataSourseSol.filteredData.length == 0 ? '' : 'none'">
                      No results
                  </div>

                  <mat-paginator 
                      [pageSizeOptions]="[5, 10, 25]" 
                      [length]="dataSourseSol.filteredData.length"
                      [pageIndex]="0"
                      showFirstLastButtons>
                  </mat-paginator>
                    
                </div>

            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>




