
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!--IPR-->
      <h5 class="h5Head"><strong class="cssStMenu">Menú de Navegación</strong></h5>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree"  >
      
        <!--<li class="header"><h5 class="h5Head"><strong>Menú de Navegación</strong></h5></li>-->
  
        <!-- FGonzalez: Recorremos el array de funciones -->
        <div *ngFor="let funcPadre of funciones">     
          <!-- Excluimos solo las funciones padre
          (Las funciones padre son las que no son funciones hijas de nadie, por eso el 0) -->
          <div *ngIf="funcPadre.funcionPadre == 0">
            <!-- INICIA Pintamos función padre -->
              <li class="active treeview menu-open  menu-nivel-1">
                <a (click)="accSol(funcPadre.url)" class="cssSol">
                  <i class="{{funcPadre.icono}}"></i> 
                  <span> 
                    {{funcPadre.funcion}}
                  </span>                
                </a>
                <!-- Recorremos nuevamente el arreglo de funciones  pero ahora taeremos las funciones hijo -->
                <div *ngFor="let funcHijo of funciones">         
                  <!-- Comparamos si el idFuncion de la funcion padre actual es igual a al campo 'funcionPadre' de alguna de las otras funciones recorridas en este for -->
                  <!-- Si se ecnuentran coicidencias significa que son hijos de la funcion padre actual y se pintan las funciones hijo -->
                  <div *ngIf="funcPadre.idFuncion == funcHijo.funcionPadre">
                    <!-- INICIA Pintamos función hijo -->
                    <ul class="treeview-menu">
                      <li>
                        <a (click)="accSol(funcHijo.url, funcHijo.idFuncion)" class="clsMenuSon">
                          <i class="{{funcHijo.icono}}"></i> 
                          {{funcHijo.funcion}}
                        </a>
                      </li>
                    </ul>                  
                    <!-- FIN Pintamos función hijo -->
                  </div>
                </div>                 
              </li>   
              <!-- FIN Pintamos función padre -->          
          </div>         
        </div>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>