#btnLogin{
    cursor: pointer;
}

.aPass{
    cursor: pointer;
}

.btnLogin{
    background-color: #2d71ba;
    border-color: #ffffff;
    color:#fff;
}

img.img-responsive {
    width: 100% !important;
}
