
<div class="dvSolNew">

  <app-topnavbar [nameTopBar]='nameTit' ></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  
  <div class="content-wrapper contenWrapper" style="min-height: 583.062px !important;">
    <section class="">

      <div class="row">

          <div class="col-md-12" id="dtSolicitudes">
              <div class="box-primary" id="boxFiltros">
                  
                <div class="table table-bordered table-hover">
                      
                      <app-solicitudes-list *ngIf="showDash" [childStatusSol] = 'statusSol'></app-solicitudes-list>
                      
                      <div class="row rowMenu" *ngIf="showMenu">
                          <!-- /.col -->
                          <div *ngIf="showNewSol" id="dvNewSol" class="col-md-4" (click)="accSol('/nueva',0)">
                            <div class="box box-widget widget-user">
                              <div class="widget-user-header wNew">
                                <i class="material-icons">control_point</i>
                              </div>
                              <div class="widget-user-image">
                              </div>
                              <div class="">
                                <div class="row">
                                    <h4 class="widget-user-username">Nueva Solicitud</h4>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div id="dvDash" class="col-md-4 " [className]="showNewSol ? 'col-md-4' : 'col-md-4 cssDashAg'" (click)="accSol('/solicitudes',3)">
                            <div class="box box-widget widget-user">
                              <div class="widget-user-header bg-black" >
                                <i class="material-icons">assignment</i>
                              </div>
                              <div class="widget-user-image">
                              </div>
                              <div class="row">
                                    <div class="description-block"></div>
                                    <h4 class="description-text">Dashboard</h4>
                              </div>
                            </div>
                          </div>
                      </div>

                </div>

              </div>
          </div>
      </div>
     
    </section>

  </div>

  <app-footernavbar></app-footernavbar>

</div>


<ngx-spinner
    bdOpacity = 0.5
    bdColor="rgba(51,51,51,0.8)"
    size = "large"
    color = "#d4ad45"
    type = "timer"
    [fullScreen] = "true">
  <p style="color: rgb(212,173,69)" > <br> : : Cargando : : </p>
</ngx-spinner>
