

<div class="dvSolNew">

  <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper contenWrapper" style="min-height: 583.062px !important;">
      <section class="content">
  
        <div class="row">
  
            <div class="col-md-12" id="dtFianzas">
                <div class="box box-primary" id="boxFiltros">
                    <div class="table table-bordered table-hover">
                        <div class="row">
                            <div class="col-md-12">
                              <div class="card">
                                  
                                <div class="card-header">
                                    
                                    <div class="card-body p-2 cssFilter">
                    
                                        <div class="searchbox">
                                            <input id="inputSearch" matInput (keyup)="applyFilter($event.target.value)" type="" placeholder="Buscar . . . " class="cssSearch"/>
                                            <button id="btnSearch" class="submit">
                                                <i class="material-icons icssSearch">search</i>
                                            </button>
                                            <div class="line"></div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="card-tools"></div>
                    
                                    <div class="pull-left box-tools btnExcel">
                                      <button mat-raised-button class="btnReports" color="primary" (click)="export()">Exporta a Excel</button> 
                                    </div>
                    
                                </div>
                    
                                <div class="card-body">
                    
                                  <div class="example-container mat-elevation-z8">
                      
                                      <table mat-table [dataSource]="dataSourseFia"  class="mat-elevation-z8 table-responsive"   matSort>
                                  
                                              <!-- Numero de fianza Column -->
                                              <ng-container matColumnDef="NUM_FIA" > 
                                                  
                                                  <th mat-header-cell *matHeaderCellDef> # Fianza 
                                                  </th>
                                                  
                                                  <td mat-cell *matCellDef="let element"> {{element.NUM_FIA}} </td>
                                              </ng-container>
                                          
                                              <!-- Monto Fianza Column -->
                                              <ng-container matColumnDef="MONTO_FIA">
                                                  <th mat-header-cell *matHeaderCellDef> Monto Fianza </th>
                                                  <td mat-cell *matCellDef="let element"> <span class="mobile-label"># Recibo</span> {{element.MONTO_FIA | currency}} </td>
                                              </ng-container>
                                          
                                              <!-- Nombre Fiado Column -->
                                              <ng-container matColumnDef="DES_FIADO">
                                                  <th mat-header-cell *matHeaderCellDef> Fiado </th>
                                                  <td mat-cell *matCellDef="let element"> <span class="mobile-label">Tipo Fianza</span> {{element.DES_FIADO | lowercase}} </td>
                                              </ng-container>
                                          
                                              <!-- Beneficiario Column -->
                                              <ng-container matColumnDef="DES_BENEF" >
                                                    <th mat-header-cell *matHeaderCellDef> Beneficiario </th>
                                                    <td mat-cell *matCellDef="let element">  <span class="mobile-label">Status:</span> {{element.DES_BENEF}} </td>
                                              </ng-container>
                                          
                                              <!-- Vigencia Fianza Column -->
                                              <ng-container matColumnDef="FEC_CUM_FIA" >
                                                    <th mat-header-cell *matHeaderCellDef> Vigencia Fianza </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span class="mobile-label">Vigencia Fianza</span>
                                                        <span class="tab-date1">{{element.FEC_CUM_FIA | date: 'MM/dd/yyyy'}}</span>
                                                    </td>
                                              </ng-container>
                    
                                               <!-- Cumplimiento Contrato Column -->
                                              <ng-container matColumnDef="FEC_CUMP_CONTR" >
                                                    <th mat-header-cell *matHeaderCellDef> Cumplimiento Contrato </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span class="mobile-label">Cumplimiento Contrato</span>
                                                        <span class="tab-date1">{{element.FEC_CUMP_CONTR | date: 'MM/dd/yyyy'}}</span>
                                                    </td>
                                              </ng-container>
                                  
                                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          
                                      </table>
                    
                                      <div class="no-results" [style.display]="dataSourseFia.filteredData.length == 0 ? '' : 'none'">
                                          No results
                                      </div>
                                  
                                      <mat-paginator 
                                          [pageSizeOptions]="[5, 10, 25]" 
                                          [length]="dataSourseFia.filteredData.length"
                                          [pageIndex]="0"
                                          showFirstLastButtons>
                                      </mat-paginator>
                                        
                                  </div>
                  
                                </div>
                               
                                <div class="card-footer"></div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
        
      </section>
  
  </div>

  <app-footernavbar></app-footernavbar>

</div>


<ngx-spinner
  bdOpacity = 0.5
  bdColor="rgba(51,51,51,0.8)"
  size = "large"
  color = "#d4ad45"
  type = "timer"
  [fullScreen] = "true">
<p style="color: rgb(212,173,69)" > <br> : : Cargando : : </p>
</ngx-spinner>
