

<div class="dvSolNew">

    <app-topnavbar [nameTopBar]='nameTit'></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>

    

    <div class="content-wrapper" >
    
        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
          <div class="row">
       
            <div class="dvFiaPor">

              <div class="col-sm-4" (click)="rptFianzas(2)">
                <div class="info-box">
                    <span class="info-box-icon bg-green" >
                        <i class="material-icons">library_books</i>
                    </span>
        
                    <div class="info-box-content" >
                      <span class="info-box-text spReportes">Fianzas Activas/Pagadas </span>
                      <span class="info-box-number">{{porcFiaLst[1].TOT_PORCENTAJE}}<small>%</small></span>
                    </div>
                </div>
              </div>
   
              <div class="col-sm-4" (click)="rptFianzas(1)">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow" >
                        <i class="material-icons">library_books</i>                  
                    </span>
        
                    <div class="info-box-content" >
                      <span class="info-box-text spReportes">Fianzas Pendientes</span>
                      <span class="info-box-number">{{porcFiaLst[2].TOT_PORCENTAJE}}<small>%</small></span>
                    </div>
                </div>
              </div>


              <div class="col-sm-4" (click)="rptFianzas(3)">
                  <div class="info-box">
                      <span class="info-box-icon bg-red" >
                          <i class="material-icons">library_books</i>
                      </span>
          
                      <div class="info-box-content" >
                        <span class="info-box-text spReportes">Fianzas Canceladas</span>
                        <span class="info-box-number">{{porcFiaLst[0].TOT_PORCENTAJE}}<small>%</small></span>
                      </div>
                  </div>
                </div>


            </div>

          </div>


          <div class="col-md-12" id="dtFianzas">
              <div class="box box-primary" id="boxFiltros">
                  <div class="table table-bordered table-hover">
                    
                      <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                                
                              <div class="card-header">
                                  
                                  <div class="card-body p-2 cssFilter">
                  
                                      <div class="searchbox">
                                          <input id="inputSearch" matInput (keyup)="applyFilter($event.target.value)" type="" placeholder="Buscar . . . " class="cssSearch"/>
                                          <button id="btnSearch" class="submit">
                                                  <i class="material-icons icssSearch">search</i>
                                          </button>
                                          <div class="line"></div>
                                      </div>
                                      
                                  </div>
                                  
                                  <div class="card-tools"></div>
                  
                                  <div class="pull-left box-tools btnExcel">
                                    <button mat-raised-button class="btnReports" color="primary" (click)="export()">Exporta a Excel</button> 
                                  </div>
                  
                              </div>
                  
                              <div class="card-body">
                  
                                <div class="example-container mat-elevation-z8">
                    
                                    <table mat-table [dataSource]="dataSourseFia"  class="mat-elevation-z8 table-responsive"   matSort>
                                
                                            <!-- Numero de fianza Column -->
                                            <ng-container matColumnDef="NUM_FIA" > 
                                                
                                                <th mat-header-cell *matHeaderCellDef> # Fianza 
                                                </th>
                                                
                                                <td mat-cell *matCellDef="let element"> {{element.NUM_FIA}} </td>
                                            </ng-container>
                                        
                                            <!-- Numero Recibo Column -->
                                            <ng-container matColumnDef="NUM_REC">
                                                <th mat-header-cell *matHeaderCellDef> # Recibo </th>
                                                <td mat-cell *matCellDef="let element"> <span class="mobile-label"># Recibo</span> {{element.NUM_REC}} </td>
                                            </ng-container>
                                        
                                            <!-- Tipo Fianza Column -->
                                            <ng-container matColumnDef="DESC_PAQUETE">
                                                <th mat-header-cell *matHeaderCellDef> Tipo Fianza </th>
                                                <td mat-cell *matCellDef="let element"> <span class="mobile-label">Tipo Fianza</span> {{element.DESC_PAQUETE | lowercase}} </td>
                                            </ng-container>
                                        
                                            <!-- FechaVigencia Column -->
                                            <ng-container matColumnDef="FEC_VIG_INI_FIA" >
                                                <th mat-header-cell *matHeaderCellDef> Vigencia Fianza </th>
                                                <td mat-cell *matCellDef="let element">
                                                        <span class="mobile-label">Vigencia Fianza</span>
                                                        <span class="tab-date1">Ini: {{element.FEC_VIG_INI_FIA | date: 'MM/dd/yyyy'}} </span>
                                                        <br />
                                                        <span class="tab-date2">Fin: {{element.FEC_VIG_FIN_FIA | date: 'MM/dd/yyyy'}}</span>
                                                </td>
                                            </ng-container>
                                        
                                            <!-- Beneficiario Column -->
                                            <ng-container matColumnDef="DES_BENEF" >
                                                <th mat-header-cell *matHeaderCellDef> Beneficiario </th>
                                                <td mat-cell *matCellDef="let element">  <span class="mobile-label">Status:</span> {{element.DES_BENEF}} </td>
                                            </ng-container>
                  
                                             <!-- Status Fianza Column -->
                                            <ng-container matColumnDef="DESCRIPCION_REC" >
                                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                                <td mat-cell *matCellDef="let element">  <span class="mobile-label">Status</span> {{element.DESCRIPCION_REC}} </td>
                                            </ng-container>
                                
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                    </table>
                  
                                    <div class="no-results" [style.display]="dataSourseFia.filteredData.length == 0 ? '' : 'none'">
                                        No results
                                    </div>
                                
                                    <mat-paginator 
                                        [pageSizeOptions]="[5, 10, 25]" 
                                        [length]="dataSourseFia.filteredData.length"
                                        [pageIndex]="0"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                      
                                </div>
                  
                  
                              </div>
                              <div class="card-footer"></div>
                            
                            </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>


        </section>



      </div>


   

    <app-footernavbar></app-footernavbar>

    </div>
  
  
<ngx-spinner
    bdOpacity = 0.5
    bdColor="rgba(51,51,51,0.8)"
    size = "large"
    color = "#d4ad45"
    type = "timer"
    [fullScreen] = "true">
  <p style="color:rgb(212,173,69)" > <br> : : Cargando : : </p>
</ngx-spinner>
  