/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
 /* -- Material Design Table style -------------- */

 #dtFianzas{
    display: inline-block;
    position: relative;
    top: -100px;
}


.dvFiaPor{
    position: relative;
    display: block;
    height: 150px;
    width: 70%;
    top: -100px;
    margin: 0 0 0 0px;
}

.dvFiaPor > div{
    left: 25%;
}


.dvFiaPor > .col-sm-4{
    cursor: pointer;
   z-index: 1000;
}

.dvSolNew{
    background-color: #263576;
}


 table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
}

table.mat-table th.mat-header-cell{
    font-size: 15px;
    font-weight: bolder;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: center;
}

.mat-cell {
    color: #6f6f71;
    font-size: 13px;
}


table.mat-table td:nth-child(2){
    /*text-align: left;*/
}

table.mat-table td:nth-child(3){
    text-transform: capitalize;
}

/* ----------------------------- Responsive Table ------------------------------------------- */

.example-container {
display: flex;
flex-direction: column;
max-height: 500px;
min-width: 300px;
}

.mat-table {
overflow: auto;
max-height: 500px;
}

.mobile-label {
display: none;
}


@media(max-width: 880px) {

    .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    float: left;
    color: darkblue;
    }

    .mat-header-row {
    display: none;
    }

    .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 300px;
    }

    table.mat-table td:nth-child(3) span{
        position: relative;
        top: -6px;
    }

    table.mat-table td:nth-child(4) span{
        position: relative;
        top: -6px;
    }

    table.mat-table .mat-icon-button {
    float: right;       
    }
}

@media(min-width: 880px) and (max-width: 1056px) {

    .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    float: left;
    color: darkblue;
    }

    .mat-header-row {
    display: none;
    }

    .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 300px;
    }

    table.mat-table td:nth-child(3) span{
        position: relative;
        top: -6px;
    }

    table.mat-table td:nth-child(4) span{
        position: relative;
        top: -6px;
    }

    table.mat-table .mat-icon-button {
    float: right;       
    }
}



/* ------------------------------------------------------------------------ */

.tab-date1{
    white-space: pre-line;
}

.tab-date2{
    /*IPR*/
    /*font-size: 12px;*/
    display: block;
}

/*///////////////////////// SEARCH BAR ////////////////////////////////////////////////////////*/
.mat-icon-button{
    font-size: 30px;
    color: #3fb59b;
}

.cssFilter{
    background-color: #ecf0f5;
    font-size: 18px;
    text-align: center;
    padding: 7px 10px;
    margin-top: 0;
    
    /*
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 60px;
    overflow: hidden;
    */

}

.searchbox {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 60px;
    overflow: hidden;
  }

.cssSearch{

    /*position: absolute;*/
    position: relative;
    left: 0;
    width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
    /*height: 50px;*/
    border: 0;
    font-size: 30px;
    background: transparent;
    color: #363839;
    outline: none;
}


#btnSearch{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    outline: none;
}


.line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 5px;
    background: #002050;
  }

.submit {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
}

/*
.submit::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    left: 10%;
    top: 10%;
    box-sizing: border-box;
    border: 3px solid #41b6e6;
    border-radius: 50%;
  }

.submit::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 14px;
    background: #41b6e6;
    transform-origin: 50% 0%;
    transform: rotate(-45deg);
    top: 60%;
    left: 60%;
}
*/
.icssSearch{
    font-size: 1.9em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
.cssFilter > .mat-form-field{
    width: 50%;
}

button.info-box-icon.mat-icon-button.bt-color-4.mat-primary {
    padding: 5px 0px 0px 0px;
}

i.fa.fa-pencil-square-o.mat-icon{
    display: block;
}

.btcolor-1{
    color: lightskyblue!important;
}

.bt-color-2{
    color: orange!important;
}
.bt-color-3{
    color: #36ffce!important;
}
.bt-color-4{
    color: #007bff!important;
}
.bt-color-5{
    color: #1312ff!important;
}
.bt-color-6{
    color: #dc3545!important;
}

@media screen and (max-width: 960px) {

  

.mat-table {
border: 0;
vertical-align: middle
}

.mat-table caption {
font-size: 1em;
}

/*  Enable this to hide header
.mat-table .mat-header-cell {

border: 10px solid;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
padding: 0;
position: absolute;
width: 1px;
}
*/
.mat-table .mat-row {
border-bottom: 5px solid #ddd;
display: block;
}
/*
.mat-table .mat-row:nth-child(even) {background: #CCC}
.mat-table .mat-row:nth-child(odd) {background: #FFF}
*/
.mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 12px;
    text-align: right !important;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
}
.mat-table .mat-cell:before {
/*
* aria-label has no advantage, it won't be read inside a table
content: attr(aria-label);
*/
content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
}
.mat-table .mat-cell:last-child {
    border-bottom: 0;
}
.mat-table .mat-cell:first-child {
    margin-top: 4%;
    text-align: left !important;
}

.tab-date2{
    font-size: 11px;
}

button.info-box-icon.mat-icon-button.bt-color-4.mat-primary{
    float: right; 
    padding: 0px 0px 0px 0px;
}

.btnResp{
    display: block;
    position: relative;
    top: -10px;
}




}

/**************************************************************************/
button:checked{
background-color: #dc3545;
}


div:focus,
i:focus,
span:focus,
button:focus {
outline: none !important;
border: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.btnExcel{
position: relative;
display: contents;
}

.info-box-icon{
    height: 70px !important;
    cursor: pointer;
}

.info-box{
    min-height: 70px !important ;
}

.dvReportes{
    margin: 1% 3% 0% 5%;
}

.dvReportes-1{
    top: 20px;
}

.dvReportes-2{
    position: relative;
    top: -19px;
}



.spReportes{
    position: relative;
    display: block;
    width: 104%;
    font-size: 0.85em;
    text-decoration: underline;
}

.material-icons{
    font-size: 50px;
}

.info-box-number{
    margin: 0 0 0 30%;
}

@media (max-width: 767px){
    .dvReportes-1{
        top: 0px;
    }

    .dvReportes-2{
        position: relative;
        top: 0px;
    }
}